{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="container">
	<div class="row my-5">
		<div class="col-md-4 col-md-offset-2 col-sm-12">
			<div class="detail_book_display">
				<img class="detail_book_img" src="{{ MEDIA_URL }}{{ book.cover_image }}">
			</div>
		</div>
		<div class="col-md-8 col-md-offset-2 col-sm-12">
			<div class="py-4">
				<h3>{{ book.title }}</h3>
				<h6>₦{{ book.price }}</h6>


				<span class="">
					<a href="{% url 'add_to_cart' book.id %}"><input type="submit" id="btn-logic"
							class="btn btn-success" value="Add to Cart"></a>
				</span>

				<span class="detail_book_author">{{ book.author }}</span>

				<div class="">{{ book.description }}</div>

				<div class="detail_book_reviews_title">Reviews {% if reviews %}({{ reviews.count }}){% endif %}</div>

			</div>
		</div>

		<!-- <div class="detail_book_reviews">
		<div class="col-md-offset-3" style="margin-left:auto; margin-right:auto;">
			{% if form %}
			<h4>Have you read this book? Post a review!</h4>
			<form class="form-inline" action="{% url 'book_details' book.pk %}" method="POST">
				{% csrf_token %}
				{{ form.as_p }}
				<input type="submit" value="Submit">
			</form>
			{% endif %}
			{% for review in reviews %}
			<div>
				{{ review.text }}
			</div>
			<div style="font-weight:bold;">
				-{{ review.user.username }} on {{ review.publish_date }}
			</div>
			{% empty %}
			<div style="margin-top:20px;">
				There are no reviews for this book yet!
			</div>
			{% endfor %}
		</div>
	</div> -->
	</div>
</div>


{% endblock %}